[user]
	name = "Tanguy ⧓ Herrmann"
	email = "dolanorgit@evereska.org"
	signingKey = 000321555
[alias]
	l   = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)(%aN <%ae>)%Creset' --abbrev-commit --date=relative
	la  = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)(%aN <%ae>)%Creset' --abbrev-commit --branches --all
	lt  = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ai) %C(bold blue)(%aN <%ae>)%Creset' --abbrev-commit --date=relative
	lta = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ai) %C(bold blue)(%aN <%ae>)%Creset' --abbrev-commit --date=relative --branches --all
	ls  = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)(%aN <%ae>)%Creset %C(bold green)%G?%C(reset) %C(magenta)%GS%C(reset)' --abbrev-commit --date=relative
	lsa = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)(%aN <%ae>)%Creset %C(bold green)%G?%C(reset) %C(magenta)%GS%C(reset)' --abbrev-commit --date=relative --branches --all

	ci = commit -m
	s = status -s --untracked=no
	sn = status -s --untracked=normal
	sa = status -s --untracked=all

	ddc = diff --color=auto -w --no-ext-diff
	dc = diff --color=auto -w
	ddcc = diff --color=auto -w --cached --no-ext-diff
	dcc = diff --color=auto -w --cached
	ddw = diff --color-words -w --no-ext-diff
	dw = diff --color-words -w
	dwe = diff --color-words="[^[:space:]./]"
	co = checkout
	b = branch
	appraise = !~/.local/gopath/bin/git-appraise
	review = !~/.dotfiles/review.sh
	rstat = !~/.dotfiles/rstat.sh
	rfiles = !~/.dotfiles/rfiles.sh
	rheatmap = !git-heatmap
	conflicts = mergetool -t diffconflicts
	pras = pull --rebase --autostash
[core]
	editor = vim
[color]
	ui = true

[color "diff"]
	whitespace = red reverse

[push]
	default = simple

[url "git@github.com:"]
	insteadOf = https://github.com/
# [url "git@code.tuxago.com:"]
# 	insteadOf = https://code.tuxago.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[diff]
	tool = vimdiff
	external = difft
[difftool]
	prompt = false
[merge]
	conflictStyle = diff3
	tool = vimdiff
[mergetool "diffconflicts"]
	cmd = vim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
	trustExitCode = true
[mergetool]
	keepBackup = false


[pager]
    #diff = delta
    #log = delta
    #reflog = delta
    #show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
