[user]
	name = "Tanguy ⧓ Herrmann"
	email = "dolanorgit@evereska.org"
	signingKey = 000321555
[alias]
	l = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s%Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	la = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ci = commit -m
	s = status -s --untracked=no
	sn = status -s --untracked=normal
	sa = status -s --untracked=all
	dc = diff --color=auto -w
    dw = diff --color-words -w
    dwe = diff --color-words="[^[:space:]./]"
	co = checkout
	b = branch
	appraise = !/home/dolanor/.local/gopath/bin/git-appraise
    review = !/home/dolanor/.dotfiles/review.sh
    rstat = !/home/dolanor/.dotfiles/rstat.sh
    rfiles = !/home/dolanor/.dotfiles/rfiles.sh
    rheatmap = !git-heatmap
[core]
	editor = vim
[color]
	ui = true
[color "diff"]
	whitespace = red reverse
[push]
	default = simple

[url "git@github.com:"]
    insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
