[user]
	name = "Tanguy ⧓ Herrmann"
	email = "dolanorgit@evereska.org"
	signingKey = 000321555
[alias]
	lt = log --graph --pretty=tformat:'%Cred%ai%Creset -%C(yellow)%d%Creset %s%Cgreen(%ar) %C(bold blue)<%ai>%Creset' --abbrev-commit --date=relative
	l = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s%Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	la = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit 
	ci = commit -m
	s = status -s --untracked=no
	sn = status -s --untracked=normal
	sa = status -s --untracked=all
	dc = diff --color=auto -w
	dcc = diff --color=auto -w --cached
	dw = diff --color-words -w
	dwe = diff --color-words="[^[:space:]./]"
	co = checkout
	b = branch
	appraise = !~/.local/gopath/bin/git-appraise
	review = !~/.dotfiles/review.sh
	rstat = !~/.dotfiles/rstat.sh
	rfiles = !~/.dotfiles/rfiles.sh
	rheatmap = !git-heatmap
	dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff -w --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
	conflicts = mergetool -t diffconflicts
	pras = pull --rebase --autostash
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff"]
	whitespace = red reverse
[push]
	default = simple

[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@code.tuxago.com:"]
	insteadOf = https://code.tuxago.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = vim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
	trustExitCode = true
[mergetool]
	keepBackup = false
